<!-- %- dan %= sama" untuk mencetak html, bedanya = nanti akan ditulis sebagai escape karakter -->

<div class="container">
  <div class="row">
    <div class="col text-center">
      <!-- <img src="../img/widwod.jpg" alt="widwod" /> jika seperti ini gambar tidak keluar karena express melindungi file" statis / diproteksi  harus dilakukan pemanggilan di app.js dan membutuhkan folder public -->
      <img src="img/widwod.jpg" alt="widwod" class="img-thumbnail rounded-circle" width="200" />
      <h1 class="display-4">Yuri</h1>
      <p class="lead">Just Human | Not God</p>
    </div>
  </div>
</div>
